<h2 class="mt-12 text-2xl font-medium md:text-3xl">Join over 167,739 creators who have earned over $923,828,678 on Gumroad selling digital products and memberships.
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5 space-y-4" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= react_component("Label", props: {htmlFor: 'creator-email', children: 'Email'}) %>
    <%= react_component("Input", props: {type: 'email', required: true, autoComplete: 'email', authfocus: 'true', name: "creator[email]", id: 'creator-email'}) %>
  </div>

  <div class="field">
    <%= react_component("Label", props: {htmlFor: 'creator-username', children: 'Username'}) %>
    <%= react_component("Input", props: {type: 'text', required: true, autoComplete: 'username', name: "creator[username]", id: 'creator-username'}) %>
  </div>

  <div class="field">
    <%= react_component("Label", props: {htmlFor: 'creator-email', children: 'Password'}) %>
    <%= react_component("Input", props: {type: 'password', required: true, autoComplete: 'new-password', name: "creator[password]", id: 'creator-password'}) %>
  </div>

  <div class="field">
    <%= react_component("Label", props: {htmlFor: 'creator-email', children: 'Password confirmation'}) %>
    <%= react_component("Input", props: {type: 'password', required: true, autoComplete: 'new-password', name: "creator[password]", id: 'creator-password-confirmation'}) %>
  </div>

  <div class="actions">
    <%= react_component("Button", props: {variant: 'primary', children: 'Sign up', type: 'submit', className: 'w-full'}) %>
  </div>
<% end %>
