<!DOCTYPE html>
<html>
  <head>
    <title>Gumroad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'client-bundle' %>
    <%= stylesheet_pack_tag 'client-bundle' %>
  </head>

  <body class="text-white bg-slate-950">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
