<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
